*{
    margin:0;
    padding: 0;
}

body{
    background-color:rgb(1, 37, 39);
    
}

.content{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
   color:rgb(135, 87, 25);
   font-size:60px;
   margin-bottom: 2rem;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inp-add{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}
#inp{
    background-color: bisque;
    border: 2px solid rgb(1, 1, 12);
    border-radius: 4px;
    height: 2rem;
    width: 300px;   
    padding: .5rem;
    color: #2E2E2E;
}

.add{
    background-color: transparent;
    text-decoration: none;
    margin-left:5px;
    height:3rem ;
    padding: 0;
}

.add i{
    color:white;
    font-size: 2rem;
}
ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
li{
    width: 300px;                 
    background-color: #FFE4C4; 
    color: #2E2E2E;
    padding: 10px 12px;
    border-radius: 6px;
    border: 2px solid #D4A017;
    
    display: flex;              
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 10px;
}

.del{
    background-color: transparent;
    font-size: large;
}

